
body{
    background-color: #f5c3c3;
}
.flex-gallery {
    display: flex;
    flex-wrap: wrap;

}
.flex-gallery img{
    max-width: 25%;

}
.index {
    display: class;
    flex-wrap:wrap ;
    justify-content: space-between;
    
}
.index img {
    max-width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.kids h1{
    text-align: center;
    font-size: 30px;
    font-family: Audiowide;
}
.img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.img-kids{
    display: flex;
    font-size: 30px;

}
body {
    background: rgb(27,27,27);
}
.container {
    display: flex;
}
.event {
    background-color: #f5c3c3;
    width: 220px;
    height: 400px;
    margin: 10px;
}
.event-1 {
    background-image: url;
}
body html{
    background-color: #f5c3c3;
}
body{
    background-color: #f5c3c3;
}
.kids{
    width: 20px;
    width: 20px;
}